@model TbCountry



@section PluginCssForThisPage
{
    <link rel="stylesheet preload" href="~/Admin/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet preload" href="~/Admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

}


<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Country </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item active" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Country Edit</h4>

                            <form class="forms-sample" enctype="multipart/form-data" method="post" role="form"
                                  asp-area="Admin" asp-controller="Country" asp-action="Save">



                                <!-- hidden input -->
                                <input type="hidden" asp-for="CountryId" value="@Model.CountryId" />
                                <!-- hidden input -->

                                <div class="form-group">
                                    <label for="exampleInputName1">Country Name</label>
                                    <input asp-for="CountryName" type="text" class="form-control" id="exampleInputName1" placeholder="Country Name">
                                    <span asp-validation-for="CountryName" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputName1">Country Code</label>
                                    <input asp-for="CountryCode" type="text" class="form-control" id="exampleInputName1" placeholder="Country Code">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputName1">Delivery Cost</label>
                                    <input asp-for="CostDelivery" type="number" class="form-control" id="exampleInputName1" placeholder="Delivery Cost">
                                    <span asp-validation-for="CostDelivery" class="text-danger"></span>
                                </div>



                                <button type="submit" class="btn btn-gradient-primary me-2">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section PluginJsForThisPage
{
    <script async src="~/Admin/assets/vendors/select2/select2.min.js"></script>
    <script async src="~/Admin/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
}

@section CustomJsForThisPage
{
    <!-- Custom js for this page -->
    <script async src="~/Admin/assets/js/file-upload.js"></script>
    <script async src="~/Admin/assets/js/typeahead.js"></script>
    <script async src="~/Admin/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
    <!-- Validation File Js-->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <!-- Validation File Js-->
}


